@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{

    font-family: "Afacad Flux", serif;
}



.scale-hover:hover {
    transform: scale(1.1); 
    
}
